.form-inputs {
  color: white;
}

.form-container {
  width: 100%;
}

.form-control, .form-select {
  color: black;
}

.form-control:focus, .form-select:focus {
  color: black;
}

.hidden {
  display: none;
}