// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// Colors:
$purple-primary: #A259FF;

$neutral-100: #F1F0F3;
$neutral-80: #D0CFD7;
$neutral-60: #B3B3C0;
$neutral-40: #9797A9;
$neutral-20: #7E7B92;

$blue-100:#1F1F2C;
$blue-80:#2A2A3F;
$blue-60:#3E3F5E;
