.dash-discover-card {
  width: 100%;
  height: auto;
  background-color: #2A2A3F;
  border-radius: 20px;
  margin: 20px 0;
}

.dash-discover-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.dash-discover-card-header {
  display: flex;
  gap: 20px;
}

.imgCard {
  width: 40px;
  height: 40px;
}

.dash-discover-card-main-text {
  color: $neutral-100;
  font-style: normal;
  font-weight: 600;
  font-size: $font-size-m;
  line-height: 140%;
  margin: 0;
}

.dash-discover-card-second-text {
  color: $neutral-20;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 140%;
  margin: 0;
}

.dash-discover-card-video {
  width: 100%;
  height: auto;
}

.dash-discover-card-foot {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.dash-discover-card-footer {
  display: flex;
  gap: 20px;

}

.dash-discover-card-footer-btn {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}

@media (min-width: 900px) {

  .dash-discover-card {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .dash-discover-card-video {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {


  .dash-discover-card {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

.dash-discover-card-video {
    width: 100%;
    height: auto;
  }
}
