.dashboard-index-container {
  margin: 40px;
}

.new-dashboard-button {
  border-radius: 15px;
  padding: 10px 20px;
  color: white;
  background-color: $purple-primary;
}

.new-dashboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}
  
  .new-dashboard-card {
    background-color: $blue-80;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    width: 330px;
  }

.dashboard-avatar-img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.new-dashboard-row h5 {
  color: white;
  padding: 10px;
}

.new-dashboard-row p {
  color: #706F8F;
  padding: 10px;
}

@media (min-width: 768px) {
  .new-dashboard-row > * {
    flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  .new-dashboard-row > * {
    flex: 0 0 25%;
  }
}