.show-user-container {
  margin: 40px;
}

.view-profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-profile-picture img {
  box-shadow: 0px 0px 10px 2px rgba(36, 7, 100, 0.75);
  width: 150px;
  border-radius: 15px;
  margin-top: 40px;
  position: relative;
}

#my-label:before {
  position: absolute;
  top: inherit;
  left: inherit;
  right: inherit;
  bottom: inherit;
  cursor: pointer;
}

.user-profile-buttons a {
  display: block;
  padding: 20px;
  border: 1px solid $primary;
  text-decoration: none;
  color: white;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}
