.info-window-card-body {
  padding: 15px;
  border-radius: 15px;
}
  .info-window-card-body h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
  }

  .info-window-card-body p {
    font-size: 14px;
    margin-bottom: 10px;
    color: black;
    text-align: left;
  }
