.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.show-map-container-btn {
  background-image: linear-gradient(90deg, $purple-primary, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
  background-size: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  border-radius: 20px;
  color: $neutral-100;
  font-weight: 700;
  margin-top: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.show-map-container-btn:hover {
  background: none;
  color: $purple-primary;
  border: 2px solid $purple-primary;
  text-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff, 0px 0px 4px #ff00de, 0px 0px 7px #ff00de, 0px 0px 8px #ff00de, 0px 0px 10px $purple-primary;
  box-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff, 0px 0px 4px #ff00de, 0px 0px 7px #ff00de, 0px 0px 8px #ff00de, 0px 0px 10px $purple-primary;
  transition: box-shadow .3s ease-in-out;
  transition: text-shadow .3s ease-in-out;
}


.item-animate {
  animation: appear 1s ease-in-out;
}
.item-animate-1 {
  animation: appear 1.2s ease-in-out;
}
.item-animate-2 {
  animation: appear 1.4s ease-in-out;
}
.item-animate-3 {
  animation: appear 1.6s ease-in-out;
}
.item-animate-4 {
  animation: appear 1.8s ease-in-out;
}
@keyframes appear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.item-animate-left {
  animation: appear-left 1s ease-in-out;
}
@keyframes appear-left {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.item-animate-right {
  animation: appear-right 1s ease-in-out;
}
@keyframes appear-right {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.item-animate-up {
  animation: appear-up 1s ease-in-out;
}
@keyframes appear-up {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.mapboxgl-ctrl-geocoder--input {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
}
