.index-discover-page {
  display: flex;
  flex-direction: column;
}

.index.discover-top-head {
  margin: 40px;
}

.main-discover-container-header{
  display: flex;
  flex-direction: column;
}

.discover-container-headline {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  align-items: center;
  width: 100%;
  height: 50%;
}

.index-discover-title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 140%;
  text-transform: capitalize;
  text-align: center;
  color: $neutral-100;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.index-discover-subtitle p {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  line-height: 160%;
  color: $neutral-40;
}

.discover-container-trend{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.discover-container-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  align-items: center;
  width: 100%;
  height: 50%;
}

.discover-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.discover-info-number h2 {
  color: $neutral-100;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-xxl;
  text-align: center;
}

.discover-info-number p {
  color: $neutral-100;
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-m;
  text-align: center;
}

.discover-card-main-text {
  color: $neutral-100;
  font-style: normal;
  font-weight: 600;
  font-size: $font-size-m;
  line-height: 140%;
  margin: 0;
}

.discover-card-second-text {
  color: $neutral-20;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 140%;
  margin: 0;
}

.discover-card {
  width: 100%;
  height: auto;
  background-color: #2A2A3F;
  border-radius: 20px;
}

.discover-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.discover-card-header {
  display: flex;
  gap: 20px;
}

.imgCard {
  width: 40px;
  height: 40px;
}

.discover-card-foot {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.discover-card-footer {
  display: flex;
  gap: 20px;

}

.discover-card-footer-btn {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}

.discover-card-video {
  width: 100%;
  height: auto;
}

.discovery-container-buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.discover-btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  gap: 10px;
  background: $purple-primary;
  border-radius: 20px;
  color: $neutral-100;
  font-weight: 500;
  font-size: $font-size-m;
  line-height: 140%;
  border: none;
}

.discover-btn-primary:hover {
  background: none;
  color: $purple-primary;
  border: 2px solid $purple-primary;
  text-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff, 0px 0px 4px #ff00de, 0px 0px 7px #ff00de, 0px 0px 8px #ff00de, 0px 0px 10px $purple-primary;
  box-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff, 0px 0px 4px #ff00de, 0px 0px 7px #ff00de, 0px 0px 8px #ff00de, 0px 0px 10px $purple-primary;
  transition: box-shadow .3s ease-in-out;
  transition: text-shadow .3s ease-in-out;
}

.discover-btn-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  width: 260px;
  height: 52px;
  gap: 10px;
  border-radius: 20px;
  color: $neutral-100;
  font-weight: 500;
  font-size: $font-size-m;
  line-height: 140%;
  border: 2px solid $purple-primary;
}

.discover-btn-secondary:hover {
  background: none;
  color: $purple-primary;
  text-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff, 0px 0px 4px #ff00de, 0px 0px 7px #ff00de, 0px 0px 8px #ff00de, 0px 0px 10px $purple-primary;
  box-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff, 0px 0px 3px #fff, 0px 0px 4px #ff00de, 0px 0px 7px #ff00de, 0px 0px 8px #ff00de, 0px 0px 10px $purple-primary;
  border: 2px solid $purple-primary;
  transition: box-shadow .3s ease-in-out;
  transition: text-shadow .3s ease-in-out;
}

@media (min-width: 900px) {
  .main-discover-container-header{
    display: flex;
    flex-direction: row;
  }

  .discover-container-headline {
    width: 100%;
  }

  .discover-card {
    width: 100%;
    height: auto;
  }

  .discover-card-video {
    width: 100%;
    height: auto;
  }

  .discover {
    display: flex;
    flex-direction: column;
  }

  .discover-container-card {
    width: 100%;
  }

  .index-discover-title h1 {
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    color: $neutral-100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .index-discover-subtitle p {
    font-style: normal;
    font-weight: 400;
    font-family: "Space Mono";
    font-size: 20px;
    text-align: center;
    line-height: 160%;
    color: $neutral-40;
  }

}

@media (min-width: 1200px) {
  .index-discover-page {
    display: flex;
    flex-direction: column;
  }

  .main-discover-container-header{
    display: flex;
    flex-direction: row;
  }

  .index-discover-title h1 {
    font-size: 110px;
    line-height: 110%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .index-discover-subtitle p {
      font-size: 30px;
      text-align: center;
      font-family: "Space Mono";
  }

  .discover-container-headline {
      width: calc(2/3*100%);
  }

  .discover-container-card {
    width: calc(1/3*100%);
  }

  .discover-info {
      justify-content: center;
      gap: 100px;
      width: 40%;
  }

  .discovery-container-buttons {
    flex-direction: row;
  }

  .discover-card {
      width: 100%;
      height: auto;
  }

  .discover-card-video {
      width: 100%;
      height: auto;
  }
}
